<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Superoffice.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="cUITe_002.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Superoffice.config>
            <setting name="SleepTime" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>tl</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>tl</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://172.20.4.246/web_rel_5150c</value>
            </setting>
            <setting name="errordumppath" serializeAs="String">
                <value>E:\\GitHub\\CUITests\\CUITests_Local\\ErrorDumps\\error.png</value>
            </setting>
            <setting name="resultfilepath" serializeAs="String">
                <value>E:\\GitHub\\CUITests\\CUITests_Local\\TestResults\\file.bmp</value>
            </setting>
            <setting name="datasource" serializeAs="String">
                <value />
            </setting>
        </Superoffice.config>
        <cUITe_002.config>
            <setting name="SleepTime" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>tl4</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>tl</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://172.20.4.246/web_rel_5150c</value>
            </setting>
            <setting name="errordumppath" serializeAs="String">
                <value>E:\\GitHub\\CUITests\\CUITests_Local\\ErrorDumps\\error.png</value>
            </setting>
            <setting name="resultfilepath" serializeAs="String">
                <value>E:\\GitHub\\CUITests\\CUITests_Local\\TestResults\\file.bmp</value>
            </setting>
        </cUITe_002.config>
    </userSettings>
</configuration>