<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cUITe_002.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <cUITe_002.config>
            <setting name="username" serializeAs="String">
                <value>thl</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>tl</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://172.20.4.157/75RTM/default.aspx?contact.main?contact_id=946945</value>
            </setting>
            <setting name="SleepTime" serializeAs="String">
                <value>5000</value>
            </setting>
        </cUITe_002.config>
    </userSettings>
</configuration>